[Desktop Entry]
Type=Application
Name=Bienvenida a CPCgallOS
Exec=/usr/local/bin/cpcgallos-session-init
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
Terminal=false
